@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
}
body {
    background-image: -webkit-gradient(linear, right bottom, left top, from(#136a8a), to(#267871));
    background-image: linear-gradient(to top left, #136a8a 0%, #267871 100%);
    height: 100vh;
    font-family: "Roboto";
    color: #333 !important;
}
.outer-container,
.utility-container{

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.main-container{
    margin: 3rem 0;
    /* background-color:red; */
    display:flex;
    flex-direction: row;
    position: relative;
    width: 80%;
    align-items: center;
    justify-content: center;

          
}
.left-container{
    position: relative;
    z-index: 100;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction:column;
    color: #fff;
    font-size:24px;
}

.hw-0{
    height: 0;
    width: 0;
}
.hw-100{
    width: 100%;
}

.container{
    /* background-color:red; */
    display: grid;
    grid-template-columns: repeat(3,10vw);
    grid-template-rows: repeat(3,10vw);
    padding :1rem ;  
    background-color: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(200px);
    border-radius:10%;
    width:40%;
}

.box{
    /* background-color:green; */
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 8vw;
    border: 2px solid #333;
    cursor: pointer;
    
}

.bt-0{
    border-top: 0;
}

.bb-0{
    border-bottom: 0;
}

.br-0{
    border-right: 0;
}

.bl-0{
    border-left: 0;
}

#reset,
#undo{
    background-color: #4fb9ab;
    border-radius: 10px;
    padding: 10px;
    border: 2px solid #333;
    width: 10vw;
    margin: 1rem;
    color: #fff;
}

.info{
    font-size:25px
}

.hide{
    display:none;
}

.show{
    display:block;
   
}

.btns{
    display:flex;
    flex-direction:row;
    

}

.utility-container{
    color: #fff;
}